/node_modules

# code editors
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Local env files
.env.development
.env

# tests coverage
/coverage
